

// Semitransparent white


// Semitransparent black

// Brand colors
$white: #fff;
$black: #000;
$grey:#dadada;
$grin:#ffa351;

// Background colors
$color-header-bgr: #87509c;
$color-nav_hover: #643a79;
$color-header-btn: #eb7d4b;
$color-services-bgr: #17c2a4;
$color-brg-portfolio: #ffdd99;
$color-brg-team: #e7f1f8;
$color-brg-about: #d74680;
$color-brg-contact: #3c5499;
$color-brg-client-avatar: #787878;
$color-brg-form: #273a71 ;
$color-brg-contact-btn: #30bae7;
$color-brg-footer: #344b8e;
$color-portfolio-btn-sm: #ebc985l;

// Font colors
$color-team-font: #3c4761;
$color-team-font-ured: #55c2e9;
$color-fs-about-h6: #f5bd93;

// Special colors

// Shadow colors





