// Font-family
//$source-sans-pro: "Source Sans Pro", sans-serif;
//$verdana: "Verdana", sans-serif;
//$font-family-base: $source-sans-pro;// for mixin _reset-text
// Set variables for font faces here

// Letter spacing

// Line height


// Font size
$fs-base: 14px;
// 11px

// 12px

// 13px
$fs-button-lg: 13px;
// 14px

// 16px
$fs-menu: 16px;
$fs-p: 16px;
// 18px
$fs-h6: 18px;
// 20px

// 22px

// 24px
$fs-h4: 24px;
// 26px
$fs-h2:26px;
// 30px


// 33px
$fs-logo: 33px;
// 40px
$fs-h1: 40px;

