.skills {
  background-color: $white;
  color: $color-team-font;
  text-align: center;
  padding-bottom: 50px;
 // font-family: MyriadProRegular, sans-serif;
  h1{
    margin: 120px 0 0 0;
    text-transform: uppercase;
  }
  h4{
    margin: 60px auto 20px auto;
    text-transform: uppercase;

  }
  h6 {
    margin: 20px auto 80px auto;
    //width: 610px;
    //font-family: MyriadProRegular, sans-serif ;


  }
}